{% extends "site_base.html" %}
{% load i18n %}
{% block extratitle %}{% trans "Comites" %}{% endblock %}
{% block header %}
{% endblock %}
{% block divcontent %}
    <div class="sidebar">
        <h1>{% trans "Comite" %}&nbsp;{{comite.name}}</h1>
        <p>{{comite.description}}</p>
        <h2>{% trans "Members" %}</h2>
        <ul>
            {% for member in members %} 
                <li>{{ member }}</li>
            {% endfor %}
        </ul>
        <h2>{% trans "Contact Details" %}</h2>
        <dl>
            <dt>{% trans "Phone" %}</dt><dd>{{commit.phone1}}</dd>
            <dt>{% trans "Phone" %}</dt><dd> {{commit.phone2}}</dd>
            <dt>{% trans "Fax" %}</dt><dd> {{commit.fax}}</dd>
            <dt>{% trans "Email" %}</dt><dd> {{commit.email}}</dd>
        </dl>
    <div>

    <div class="item-list">
    {% for issue in issues %}
        <div class="item {% cycle "alt" "normal" %}">
            <a href="{{ issue.get_absolute_url }}">{{issue}}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}

