{% load i18n %}
{% load search %}
{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" >
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}">
        <title>{% block extratitle %}{% endblock %} | {% trans 'Open Knesset' %}</title>
        {% if debug %}
            <meta NAME="ROBOTS" content="NOINDEX, NOFOLLOW">
        {% else %}
            <meta name="ROBOTS" content="ALL">
        {% endif %}
        <meta http-equiv="imagetoolbar" content="no"/>
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="MSSmartTagsPreventParsing" content="true" >
        <meta name="Authors" content="OpenKnesset">
        <meta name="License" content="CC-by-sa-3.0 Attribution-ShareAlike 3.0">
        <meta name="keywords" content="{% trans 'Open Knesset' %} {% block keywords %}{% endblock %}" >
        <meta name="description" content="{% block description %}{% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}">
        <meta name="google-site-verification" content="TAmHbnTgm9dvrNMB41Ke-lZesXPgTd5xSW5lBTzq020" />
        {% compress css %}
        <link href="{{MEDIA_URL}}css/{% block cssid %}common.css?v=16{% endblock %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{MEDIA_URL}}css/bootstrap-rtl.css?v=1" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{MEDIA_URL}}css/jquery.jgrowl.css" rel="stylesheet" type="text/css" media="screen" />
        {% block extracss %} {% endblock %}
        {% endcompress %}
        <link rel="shortcut icon" href="{{MEDIA_URL}}/img/favicon.png" />
        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>

        {% if LANGUAGE_BIDI %}
        <style>
            #member-photo { float:right; margin:0.5em;}
        body { padding-top:86px;}
        </style>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>

        {% endif %}
      {% block extrahead %}{% endblock %}
    </head>

    <body>
<!--[if lte IE 6]><script src="static/js/ie6/warning.js"></script><script>window.onload=function(){e("static/js/ie6/")}</script><![endif]-->
    {% if debug %}
    <div class="alert-info">
        {% trans 'This is a development server, all data in it should be considered fictional. users are kindly requested to go to '%}
        <a href="http://oknesset.org/">http://oknesset.org/</a>
    </div>
    {% endif %}
    <div id="helptextcontainer"></div>
    <div class="navbar navbar-fixed-top"><div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" style="margin:5px; background:white; width:80px; padding:3px;" href="{% url main %}">
                <img src ="/static/img/oknesset-logo-small.png" alt="{% trans "Open Knesset" %}"/>
            </a>
{% if not has_search %}
            <div id="search" class="pull-right navbar-search">{% search_form "search_page" %}</div>
{% endif %}
            <ul class="nav pull-right">
            {% if user.is_authenticated %}
                <li><a href="{{user.get_profile.get_absolute_url}}">{% trans 'Logged in as ' %} {{ user }}</a></li>
                <li><a href="{% url edit-profile %}">{% trans 'Edit Profile' %}</a></li>
                <li><a href="{% url logout %}?next={{request.get_full_path}}">{% trans 'Logout' %}</a></li>
            {% else %}
                <li><a href='{% url login %}?next={{request.get_full_path}}'>{% trans 'login' %}</a></li>
            {% endif %}
            </ul>
            <ul class="nav">
                <li id="nav-main" {% block nav-main-page %} {% endblock %}>
                    <a href="{% url main%}">{% trans 'Main' %}</a>
                </li>
                <li id="laws" {% block nav-laws %} {% endblock %} > 
                    <a href="{% url bill-list %}">{% trans 'Bills' %}</a>
                </li>
                <li id="nav-past-votes" {% block nav-votes %} {% endblock %}>
                    <a  href="{% url vote-list %}">{% trans 'Past Votes' %}</a>
                </li>
                <li id="nav-members" {% block nav-members %} {% endblock %}>
                    <a  href="{% url member-list %}">{% trans 'Members' %}</a>
                </li>
                <li id="nav-parties" {% block nav-parties %} {% endblock %}>
                    <a  href="{% url party-list %}">{% trans 'Parties' %}</a>
                </li>
                <li id="nav-committees" {% block nav-committees %} {% endblock %}>
                    <a  href="{% url committee-list %}">{% trans 'Committees' %}</a>
                </li>
                <li id="nav-agendas" {% block nav-agendas %} {% endblock %}>
                    <a href="{% url agenda-list %}">{% trans 'Agendas' %}</a>
                </li>
                <li id="nav-tags" {% block nav-tags %} {% endblock %}>
                    <a href="{% url tags-list %}">{% trans 'Tags' %}</a>
                </li>
                <li id="nav-planet" {% block nav-planet %} {% endblock %}>
                    <a href="{% url planet_index %}">{% trans 'Posts' %}</a>
                </li>
                <li id="nav-about" {% block nav-about %} {% endblock %}>
                    <a href="{% url about %}">{% trans 'About' %}</a>
                </li>
            </ul>
        </div></div>
    </div>
    {% block content-main %}{% endblock %}
    <div class="container-fluid">
        <div class="footer">
            <p><a href="{% url about %}">{% trans 'Some rights reserved.' %}</a></p>
            {% block footer %}
            {% endblock %}
        </div>
    </div>

    {% compress js %}
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.jgrowl.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/raphael-min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/okhelptexts.js"></script>
        {% block extrajs %}{% endblock %}
    {% endcompress %}
    {% if not debug %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        try {
            var pageTracker = _gat._getTracker("UA-15521464-1");
            pageTracker._setDomainName(".oknesset.org");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    {% endif %}

    <script>
        $('html').ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        $.jGrowl.defaults.position="top-left";
    </script>
    </body>
</html>

